.Dopesheet {
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-orient: vertical;
	min-height: 10em;
	font-family: sans-serif;
	font-size: 10pt;
}

.DopeColumns {
	-webkit-box-flex: 1;
	display: -webkit-box;
	overflow: auto;
	position: relative;
}

.DopeColumn {
	background: hsla(0,0%,0%,0.4);
	min-width: 1em;
	margin-right: 2px;
	padding: 0;
}

.DopeNull {
	border: solid 2px hsla(0,0%,40%,0);
	border-bottom: solid 1px hsl(0,0%,40%);
	padding: 4px 8px;
	padding-top: 0.5em;
	height: 1em;
	white-space: nowrap;
	text-align: center;
	-webkit-border-radius: 4px 4px 0 0;
}

.DopeCell {
	border: solid 2px hsla(0,0%,40%,0);
	border-bottom: solid 1px hsl(0,0%,40%);
	padding: 4px 8px;
	padding-top: 0.5em;
	height: 1em;
	min-width: 1em;
	white-space: nowrap;
	text-align: center;
	-webkit-border-radius: 4px 4px 0 0;
}
.SelectedCell {
	background: hsl(200,20%,60%);
	color: hsl(0,0%,20%);
}
.DopeCell:hover {
	border: solid 2px hsl(0,0%,80%);
	border-bottom: solid 1px hsl(0,0%,80%);
}

.DopeActions {
}

